<a href="https://colab.research.google.com/github/FuriouStyles/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np

#The code cells below will download, unpack, and load the data into a manageable Pandas dataframe

In [4]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-09-13 01:46:05--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.58M   882KB/s    in 25s

2019-09-13 01:46:31 (869 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22631049]

In [5]:
!unzip LoanStats_2018Q4.csv

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [6]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [7]:
print(df['term'][1])

 36 months

In [0]:
# Convert 'term' column from string to an integer
def remove_months(x):
  return x[:-7]

In [0]:
# On second thought, I decided to boil it down to one line with a lambda function
df['term'] = df['term'].apply(lambda x: int(x[:-7]))

In [10]:
# Check my output
df['term'][:5]

0    36
1    36
2    36
3    60
4    36
Name: term, dtype: int64

In [0]:
# Create the 'loan_status_is_great' column
search_for = ['Current', 'Fully Paid']
df['loan_status_is_great'] = df['loan_status'].str.contains('|'.join(search_for)).astype(int)

In [12]:
# Check my output
df['loan_status_is_great'][:5]

0    1
1    1
2    0
3    1
4    1
Name: loan_status_is_great, dtype: int64

In [26]:
# Create the 'last_payment_d_month' and 'last_payment_d_year' columns
# Convert 'issue_d' to an date/time format
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d'][:5]

0   2019-07-01
1   2019-07-01
2   2019-06-01
3   2019-07-01
4   2019-07-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [35]:
df[['last_pymnt_d_month', 'last_pymnt_d_year']][:5]

   last_pymnt_d_month  last_pymnt_d_year
0                 7.0             2019.0
1                 7.0             2019.0
2                 6.0             2019.0
3                 7.0             2019.0
4                 7.0             2019.0

In [44]:
type(df['installment'].iloc[5])

numpy.float64

In [49]:
# Stretch - Calculate the payoff date based on the number of installments with help from relativedelta
from datetime import date
from dateutil.relativedelta import relativedelta

# First we have to get 'issue_d' into a date/time format
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

# Then we have to get 'installment' into an integer
df['installment'] = np.ceil(df['installment']).astype(int)

#keep getting an error here but I'm going to keep working on it after submission
df['payoff_date'] = df['issue_d'] + relativedelta(months=+df['installment'])

TypeError: ignored

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01